.productCardItemContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 10px;
	& li {
		list-style-type: none;
	}
}

.preLoaderContainer {
	display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
    margin: 10px;
    background: #e8e8ea;
    border-radius: 5px;
}